.hw6 {
  padding: 20px 10px;
  background-color: lightyellow;
}
.edit_icon {
  padding-left: 30px;
  background-image: url("https://www.freeiconspng.com/thumbs/edit-icon-png/edit-editor-pen-pencil-write-icon--4.png");
  background-repeat: no-repeat;
  background-size:  15px 15px;
  background-position: left 10px center;
  }