* {
    box-sizing: border-box;
}

.affairs {
    padding: 10px 15px;
    background-color: wheat;
}

.block {
    max-width: 30%;
}

.row {
    padding: 3px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.affair {
    font-size: 18px;
    color: maroon;
    font-weight: bolder;
}

.priority {
    justify-self: center;
    border-radius: 3px;
    padding: 2px 8px;
    text-align: center;
    color: lightgoldenrodyellow;
    font-size: 14px;
    background-color: maroon;
}

.del_btn {
    /*justify-self: center;*/
    place-self: center;
}

.btn {
    display: block;
    padding: 1px 5px;
    border-radius: 2px;
    align-items: center;
    background-color: papayawhip;
    color: #61676b;
    border: 1px solid black;
    cursor: pointer;
}

.btn:active {
    background-color: maroon;
    color: gainsboro;
    outline: none;
}

.filter_btn {
    display: inline-block;
    padding: 4px 8px;
    margin-left: 5px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

.filter_btn:active {
    background-color: coral;
    outline: none;
}
