.superInput_block {
    /*border: 1px solid black;*/
    position: relative;
    margin-bottom: 30px;
}
.superInput {
    display: block;
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-style: italic;
}
.superInput:focus {
    outline: none;
}
.errorInput {
    background: #f7e5e3;
    border-bottom: 3px solid #cc1b08;
}
.error {
    position: absolute;
    font-style: italic;
    color: red;
}
